.main-header .logo {
    text-align: left;
}

.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    text-align: center;
}

/*.content-header {
    position: relative;
    padding: 60px 15px 0 15px;
}*/
