<li class="dropdown tasks-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-flag-o"></i>
        <span class="label label-danger">{{navbarTasks['totalAllData']}}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">You have {{navbarTasks['totalAllData']}} tasks</li>
        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
                {%for data in navbarTasks['showData']%}
                <!-- Task item -->
                <li>
                    <a href="#">
                        <h3>
                            {{data.task}}
                            <small class="pull-right">{{data.progress}}%</small>
                        </h3>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: {{data.progress}}%" role="progressbar" aria-valuenow="{{data.progress}}" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">{{data.progress}}% Complete</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- end task item -->
                {%endfor%}
            </ul>
        </li>
        <li class="footer">
            <a href="#">View all tasks</a>
        </li>
    </ul>
</li>
